@import url('https://fonts.googleapis.com/css?family=Cabin:500,600,700|Roboto:400,500');

$title: 'Cabin', sans-serif;
$text: 'Roboto', sans-serif;

h1, h2{
    color: $white;
    font-family: $title;
}

h1{
    font-size: 60px;
}

p{
    font-family: $text;
}