@import '../../../Assets/sass/main.scss';

.modal {
    position: fixed;
    z-index: 500;
    background-color: $white;
    border-radius: .2rem;
    left: 18%;
    top: 3%;
    padding: .5rem .7rem;
  }