@import '../../Assets/sass/main.scss';

.invitation {
    background-image: linear-gradient(to right bottom,#2B363D, $dark-blue);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;        
    
    &__particles{
        width: 100%;
        height: 100vh;
    }

    &__content{
        position: absolute;
        text-align: center;

        div{
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            
            p{
                color: $white;
                font-size: 2rem;
            }

            i{
                color: $white;
                font-size: 1.5em;
                font-weight: 500;
                transition:  0.5s ease-in-out;
            }
        }
    }

    span{
        color: $red;
    }
}

.scrollhor {
    text-decoration: none;
}