@import '../../Assets/sass/main.scss';

.experiences-page{
    background-color: $blue;
    padding-bottom: 1em;

    .experiences{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        &__experience{
            width: 50%;
            padding: 1rem 3rem;
            &__title{
                color: $dark-blue;
                font-size: 3rem;
            }
    
            &__description{
                color: $white;
                text-align: justify; 
                margin: .3rem 0; 
            }
    
            &__duration{
                font-size: 1.5rem;
                color: $white;
            }
        }
    }
}