@import '../../../Assets/sass/main.scss';

.title {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div{
        background-color: $white;
        width: 20%;
        height: .5rem;
        border-radius: 1em;
        box-shadow: -2px 2px 1px 1px $black;
    }

    h1{
        font-size: 2rem;
        text-shadow: -2px 2px 1px $black;
    }
}

@media (min-width: 768px){
    .title {
        padding: 4rem 0;
    
        h1{
            font-size: 3rem;
        }
    } 
}
